:root * {
  --bs-primary-text-emphasis: var(--color-primary-500);
  --bs-body-bg: var(--color-surface-mixed-100);
  --bs-body-bg-rgb: var(--color-surface-mixed-100-rgb);
  --bs-tertiary-bg: var(--color-surface-mixed-200);
  --bs-tertiary-bg-rgb: var(--color-surface-mixed-200-rgb);
  --bs-emphasis-color: var(--color-text);
  --bs-emphasis-color-rgb: var(--color-text-rgb);
  --bs-body-color: var(--color-text);
  --bs-body-color-rgb: var(--color-text-rgb);
}

a {
  color: inherit;
  text-decoration: dashed underline;
  text-decoration-thickness: 1px;
}

a:hover {
  color: var(--bs-primary-text-emphasis);
  text-decoration: underline;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary-bg);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--color-primary-500);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-400);
}

::selection {
  background: var(--color-primary-500);
  color: var(--bs-body-bg)!important;
}

.btn {
  font-weight: bold;
}

.btn-primary {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--color-primary-500);
  --bs-btn-border-color: var(--color-primary-500);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--color-primary-400);
  --bs-btn-hover-border-color: var(--color-primary-400);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--color-primary-400);
  --bs-btn-active-border-color: var(--color-primary-400);
  --bs-btn-disabled-color: var(--bs-body-bg);
  --bs-btn-disabled-bg: var(--color-primary-500);
  --bs-btn-disabled-border-color: var(--color-primary-500);
}

.btn-dark {
  --bs-btn-color: var(--color-text);
  --bs-btn-bg: var(--color-surface-mixed-300);
  --bs-btn-border-color: var(--color-surface-mixed-300);
  --bs-btn-hover-color: var(--color-primary-600);
  --bs-btn-hover-bg: var(--color-surface-mixed-400);
  --bs-btn-hover-border-color: var(--color-surface-mixed-400);
  --bs-btn-active-color: var(--color-text);
  --bs-btn-active-bg: var(--color-surface-mixed-100);
  --bs-btn-active-border-color: var(--color-surface-mixed-100);
  --bs-btn-disabled-color: var(--color-text);
  --bs-btn-disabled-bg: var(--color-surface-mixed-100);
  --bs-btn-disabled-border-color: var(--color-surface-mixed-100);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-surface-mixed-300);
}
