:root {
  scrollbar-color: var(--bs-primary) var(--color-surface-mixed-150);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-surface-mixed-150);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--color-primary-500);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-400);
}

::selection {
  background: var(--color-primary-600);
  color: var(--bs-body-bg)!important;
}

a {
  color: inherit;
  text-decoration: dashed underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-surface-mixed-600);
}

a:hover {
  color: var(--bs-primary-text-emphasis);
  text-decoration: underline;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-surface-mixed-300);
}

.bg-primary {
  color: var(--bs-body-bg);
}

.select-list {
  max-height: 300px;
  overflow: auto;
}

.select-list li {
  list-style: none;
}

.select-list li:hover {
  background-color: var(--bs-tertiary-bg);
}

input:read-only {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-floating>:read-only~label::after {
  background-color: var(--bs-tertiary-bg)!important;
}

code {
  color: var(--bs-primary);
}
