[data-bs-theme=dark] {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #6ea8fe;
  --color-primary-200: #82b1fe;
  --color-primary-300: #94bbff;
  --color-primary-400: #a5c4ff;
  --color-primary-500: #b5ceff;
  --color-primary-500-rgb: 181, 206, 255;
  --color-primary-600: #c4d7ff;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #20232a;
  --color-surface-mixed-100-rgb: 32, 35, 42;
  --color-surface-mixed-200: #35383e;
  --color-surface-mixed-200-rgb: 53, 56, 62;
  --color-surface-mixed-300: #4b4d53;
  --color-surface-mixed-400: #62646a;
  --color-surface-mixed-500: #7a7c81;
  --color-surface-mixed-600: #939599;

  --bs-heading-color: #f9f9f9;
  --color-text: #e3e3e3;
  --color-text-rgb: 227, 227, 227;
}
