.tab-enter-active,
.tab-leave-active {
  transition: all 0.2s;
}

.tab-enter-from,
.tab-leave-to {
  opacity: 0;
  transform: translate(0, -10px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-leave-active {
  position: fixed;
  width: 0%;
  left: 50%;
  top: 100%;
  transform: translateY(100%);
}
